# Python
__pycache__/
*.pyc
*.pyo
venv/

# Database
*.db

# Environment
.env
backend/.env
# Uploads
backend/static
backend/static/uploads/

# Vue
frontend/node_modules/
frontend/dist/

# Redis
dump.rdb
EOF